.image_container img {
  width: 86%;
  margin-left: 7%;
}

.image_container {
  position: relative;
}
.text-container p {
  margin: 0;
  margin-top: 6px;
  margin-left: 4px;
  font-size: 15px;
  line-height: 30px;
  font-size: "Inter";
  width: 280px;
}
.text-container h1 {
  margin: 0;
  font-size: 55px;
  font-size: "Inter";
  width: 520px;
}

.text-container {
  position: absolute;
  top: 100px;
  left: 200px;
}

.btns {
  display: flex;
  position: absolute;
  top: 330px;
  left: 200px;
}

.button {
  background-color: #17c1a3;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.button2 {
  border: none;
  background-color: none;
  display: flex;
  width: 190px;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 10px;
  background: transparent;
}

.button2 img {
  width: 30px;
  height: auto;
  margin-right: 5px;
  margin-top: 5px;
  text-decoration: none;
}

.button2 span {
  text-decoration: underline;
}

i {
  margin-right: 10px;
  text-decoration: none;
}

.form-container {
  width: 70%;
  margin-left: 15%;
  border-radius: 10px;
  padding-bottom: 100px;
  background-color: white;
  position: absolute;
  top: 500px;
  /* padding-right: 10px; */
}

.form {
  margin-left: 20px;
  align-items: center;
}

.main-btn {
  display: flex;
}
.btn {
  flex: 1;
}

input,
select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.department-container-heading {
  width: 86%;
  margin-left: 7%;
  position: relative;
  /* top: 10000x; */
  margin-top: 150px;
}

.department-container {
  display: flex;
  width: 96%;
  margin-left: 2%;
  position: relative;
  /* top: 10000x; */
  margin-top: 100px;
}

.department-container-h {
  flex: 1;
  font-family: "Inter";
  font-size: 35px;
  width: 266px;
}

.department-container-img {
  flex: 1;
  text-align: right;
  /* margin-left: 200px; */
}

.department-container-img img {
  width: 4.5%;
  /* margin-bottom: 100px; */
  margin-top: 130px;

  height: 10px;
}

.department-container-detail {
  display: flex;
}

.department-container-detail1 {
  flex: 1;
}

.department-container-detail1 img {
  margin-left: 4%;
}

.department-container-detail2 {
  margin-left: 5%;
  margin-right: 140px;
  width: 100%;
  font-family: Inter;
}

.department-container-detail2 h4 {
  font-size: 22px;
}

.department-container-detail2 p {
  font-size: 14px;
  width: 80%;
}

.ReadMore {
  color: #17c1a3;
  /* font-family: Inter; */
  font-size: 18px;
  /* font-weight: 400; */
  line-height: 33px;
  text-decoration: underline;
  letter-spacing: 0.02em;
  text-align: left;
}

.masked-doctor {
  width: 86%;
  max-height: 520px;
  margin-left: 7%;
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: #e8f9f6;
  display: flex;
}

.masked-doctor-img {
  flex: 1;
  padding-top: 25px;
  /* width: 80%; */
}
.masked-doctor-img img {
  width: 230%;
  height: 100%;
}

img1 {
  position: absolute;
  /* z-index: 99; */
  height: 79%;
}

.masked-doctor-desc {
  flex: 1;
  /* width: 40%; */
  margin-left: 210px;
  margin-top: 95px;
}

.masked-doctor-desc li {
  /* background-color: red; */
  font-size: 16px;
  margin-bottom: 15px;
}

.masked-doctor-desc h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.masked-doctor-desc ul {
  list-style-image: url("/top_header/img/Group\ 120.png");
}

.specialist-container {
  width: 84%;
  margin-left: 7%;
}
.specialist-img-set {
  display: flex;
}

.specialist-img {
  flex: 1;
  width: 23%;
  margin-left: 5px;
  margin-right: 10px;
}

.specialist-img img {
  width: 95%;
  margin-top: 8px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.specialist-container {
  text-align: center;
  font-family: "Inter";
  margin-top: 140px;
  /* margin-bottom: 140px; */
}

.specialist-container-h h4 {
  font-size: 30px;
  margin-bottom: 6px;
}

.specialist-container-h p {
  font-size: 15px;
}

.specialist-desc {
  margin-left: 35px;
}

.specialist-desc p {
  margin-top: 0;
  font-size: 12px;
}

.specialist-desc h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.view {
  margin-top: 30px;
  width: 130px;
  height: 45px;
  margin-left: 15px;
  cursor: pointer;
}

.facility-container {
  width: 86%;
  margin-left: 7%;
  position: relative;
  /* top: 10000x; */
  margin-bottom: 200px;
  margin-top: 150px;
}

.facility-container-heading {
  width: 86%;
  /* margin-left: 7%; */
  font-size: 26px;
  position: relative;
  text-align: center;
  /* margin-top: 10px; */
  flex: 1;
}
.facility-container-heading h4 {
  margin-top: 10px;
}

.facility-container-sub {
  width: 65%;
  margin-left: 34%;
  position: relative;
  height: 50px;
  display: flex;
  margin-bottom: 13px;
  /* top: 10000x; */
  /* margin-top: 300px; */
}

.facility-container-img {
  flex: 1;
  text-align: right;

  /* margin-bottom: 20px; */
}

.facility-container-img img {
  width: 28px;
}

.interestedReadMore {
  color: #17c1a3;
  /* font-family: Inter; */
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 33px;
  text-decoration: underline;
  letter-spacing: 0.02em;
  text-align: left;
}
.widthscale {
  width: 83%;
}

.interested-container-detail2 {
  margin-left: 5%;
  margin-right: 140px;
  width: 100%;
  font-family: Inter;
}

.interested-container-detail2 h4 {
  font-size: 22px;
}

.interested-container-detail2 p {
  font-size: 14px;
  width: 90%;
}

.newLetter-container {
  position: absolute;
  top: 3550px;
  padding-top: 350px;
  padding-bottom: 130px;
  padding-left: 15px;
  padding-right: 5px;
  background: transparent;
  height: 150px;
  background-color: #eaf2ff;
}

.newLetterGroup {
  width: 86%;
  margin-left: 7%;
  height: 200px;
  background-color: #ffffff;
}

.newLetterGroup img {
  width: 89%;
  transform: scaleX(1.2);
  height: auto;
  margin-left: 100px;
}

.newLetter {
  display: flex;
  width: 74%;
  margin-left: 6%;
  position: absolute;
  top: 350px;
  margin-top: 40px;
  /* background-color: red; */
  /* padding-left: 1000px; */
}

.newLetterLeft {
  flex: 1;
  font-size: 22px;
}

.newLetterRight {
  flex: 1;
  display: flex;
  margin-top: 25px;
  margin-left: 250px;
}
.newLetterRight-btn-view {
  margin-top: 8px;
  width: 130px;
  height: 45px;
  /* margin-left: 0; */
  /* margin-left: 15px; */
  cursor: pointer;
}

.email {
  width: 80%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn5 {
  flex: 1;
  align-items: end;
  width: 100px;
  margin-left: 9px;
  /* margin-right: -50px; */
}

.footer {
  background-color: #f9fafa;
  /* height: 300px; */
  margin-top: 360px;
  display: flex;
  font-family: "Inter";
  font-weight: normal;
}
.footer-container {
  width: 86%;
  margin-left: 8%;
  margin-top: 100px;
}

.upper-portion {
  display: flex;
}

.upper-portion-left {
  flex: 2;
  margin-bottom: 10px;
}

.upper-portion-left p {
  font-size: 14px;
  width: 100%;
  padding-right: 300px;
}

.upper-portion-middle {
  flex: 1;
  /* width: 90%; */
  margin-left: 8%;
  text-align: left;
}

.upper-portion-right {
  flex: 2;
  width: 100%;
  text-align: left;
}
.upper-portion-middle td {
  font-size: 14px;
}

table {
  border-collapse: separate;
  border-spacing: 15px 15px;
}

.upper-portion-right td {
  font-size: 14px;
  margin-top: 100px;
}

.lower-portion {
  height: 70px;
  font-size: 14px;
}

.lower-portion {
  display: flex;
}

.lower-portion-left {
  flex: 3;
  display: flex;
}
.lower-portion-left-address {
  flex: 2;
  display: flex;
  /* padding-right: x; */
}
.lower-portion-left img {
  width: 18px;
  height: 18px;
  margin-top: 19px;
  margin-right: 5px;
}
.lower-portion-left-number {
  flex: 1;
  display: flex;
  /* margin-left: 80px; */
}

.lower-portion-left-mail {
  flex: 1;
  display: flex;
}
.lower-portion-right {
  flex: 1;
  margin-left: 60px;
}
.lower-portion-right h4 {
  margin-bottom: 5px;
}

.lower-portion-link {
  text-align: center;
  font-size: 12px;
  color: #000000;
  height: 50px;
}
